---
import type { GetStaticPaths } from 'astro';
import type { ItemList } from '@/interface/pokemon-list.resp';
import MainLayout from '@/layouts/MainLayout.astro';
import PokemonCard from '@/components/pokemon/PokemonCard.astro';
import TitleUI from '@/components/shared/TitleUI.astro';

import { Icon } from 'astro-icon/components';

export const getStaticPaths = (async () => {
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const data = await resp.json();

  //   return [
  //     {
  //       params: { name: 'bulbasaur' },
  //       props: { url: 'https://pokeapi.co/api/v2/pokemon/1/' },
  //     },
  //     {
  //       params: { name: 'charmander' },
  //       props: { url: 'https://pokeapi.co/api/v2/pokemon/4/' },
  //     },
  //     {
  //       params: { name: 'squirtle' },
  //       props: { url: 'https://pokeapi.co/api/v2/pokemon/7/' },
  //     },
  //   ];
  // }) satisfies GetStaticPaths;

  return data.results.map((pokemon: ItemList) => ({
    params: { name: pokemon.name },
    props: { url: pokemon.url },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = (url as string).split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout title={name} description={`Informacion sobre el pokemon ${name}`} image={imageSrc}>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div class="flex flex-row">
      <div>
        <button class="text-blue-500 mb-4" onclick="history.back()">Regresar</button>
        <TitleUI>{`Pokemon #${id} ${name}`}</TitleUI>
      </div>

      <button id="btn-favorite" class="ml-4" data-name={name} data-id={id}>
        <Icon data-outline name={'heart-outline'} class="" size={28} } />
        <Icon data-full name={'heart-full'} class="hidden" size={28} } />
      </button>
    </div>

    <PokemonCard name={name} url={url} isBig />

    <audio controls class="mt-4">
      <source src={audioSrc} type="audio/ogg" />
      Your browser does not support the audio element.
    </audio>
  </section>
</MainLayout>

<script>
  import type { FavoritePokemon } from '@/interface/favorite-pokemon';

  const handlePageLoad = () => {
    let favorites: FavoritePokemon[] = JSON.parse(localStorage.getItem('favorites') || '[]');

    // const btnFavorite = document.querySelector('#btn-favorite') as HTMLButtonElement;
    const btnFavorite = document.getElementById('btn-favorite') as HTMLButtonElement;
    if (!btnFavorite) return;

    const name = btnFavorite.dataset.name as string;
    const id = btnFavorite.dataset.id as string;

    const heartOutline = btnFavorite.querySelector('[data-outline]') as HTMLElement;
    const heartFull = btnFavorite.querySelector('[data-full]') as HTMLElement;

    const isFavorite = favorites.some((pokemon) => pokemon.id === id);
    if (isFavorite) {
      heartOutline.classList.add('hidden');
      heartFull.classList.remove('hidden');
    }

    const tooggleFavorite = () => {
      const index = favorites.findIndex((pokemon) => pokemon.id === id);
      if (index === -1) {
        favorites.push({ id, name });
      } else {
        favorites.splice(index, 1);
      }
      localStorage.setItem('favorites', JSON.stringify(favorites));
    };

    // console.log(isFavorite);

    btnFavorite.addEventListener('click', () => {
      heartOutline.classList.toggle('hidden');
      heartFull.classList.toggle('hidden');

      tooggleFavorite();
      // console.log(name, id);
    });
  };

  document.addEventListener('astro:page-load', handlePageLoad);
</script>

<style>
  @reference "tailwindcss";
  a {
    @apply hover:underline text-blue-400 text-base;
  }

  #btn-favorite {
    @apply hover:animate-pulse;
  }
</style>
