---
import type { GetStaticPaths } from 'astro';
import type { ItemList } from '@/interface';
import MainLayout from '@/layouts/MainLayout.astro';
import PokemonCard from '@/components/pokemon/PokemonCard.astro';
import TitleUI from '@/components/shared/TitleUI.astro';

export const getStaticPaths = (async () => {
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const data = await resp.json();

  //   return [
  //     {
  //       params: { name: 'bulbasaur' },
  //       props: { url: 'https://pokeapi.co/api/v2/pokemon/1/' },
  //     },
  //     {
  //       params: { name: 'charmander' },
  //       props: { url: 'https://pokeapi.co/api/v2/pokemon/4/' },
  //     },
  //     {
  //       params: { name: 'squirtle' },
  //       props: { url: 'https://pokeapi.co/api/v2/pokemon/7/' },
  //     },
  //   ];
  // }) satisfies GetStaticPaths;

  return data.results.map((pokemon: ItemList) => ({
    params: { name: pokemon.name },
    props: { url: pokemon.url },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = (url as string).split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout title={name} description={`Informacion sobre el pokemon ${name}`} image={imageSrc}>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <button class="text-blue-500 mb-4" onclick="history.back()">Regresar</button>
      <TitleUI>{`Pokemon #${id} ${name}`}</TitleUI>
    </div>

    <PokemonCard name={name} url={url} isBig />

    <audio controls class="mt-4">
      <source src={audioSrc} type="audio/ogg" />
      Your browser does not support the audio element.
    </audio>
  </section>
</MainLayout>

<style>
  @reference "tailwindcss";
  a {
    @apply hover:underline text-blue-400 text-base;
  }
</style>
