---
import { ClientRouter } from 'astro:transitions';
import '@/styles/global.css';
import { siteInfo } from '@/consts/site-info';
import NavBar from '@/components/navbar/NavBar.astro';

interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const { title = siteInfo.title, description = siteInfo.description, image } = Astro.props;
const preTitle = 'Pokemon Static';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="keywords" content="pokemon, pokedex, static site, astro, tailwindcss" />
    <meta name="author" content="Pedro Obando" />

    <!-- OG Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {image && <meta property="og:image" content={image} />}

    <title>{`${title} | ${preTitle}`}</title>
    <slot name="head" />
    <ClientRouter />
  </head>
  <body class="bg-slate-800 text-slate-100">
    <NavBar />
    <main class="mt-10 mx-auto max-w-3xl">
      <slot />
    </main>
  </body>
</html>
